<div class="intro" style="padding: 1.6em;">
    <ol>
        <li><b>Screen transitions must be full jumps</b>; it would be unfair for a player not knowing how to jump over a new screen.</li>
        <li><b>Transition platforms should always work</b> (with a full jump) and they <b>must not be related to a specific position</b> in the platform before the transition to the new screen.</li>
        <li><b>Platforms must be bordered with a line</b> (with at least 1px).</li>
        <li>Not more than three consecutives 1 pixel jumps (1px in the hitboxes file).</li>
        <li>If your level has a release date, you <b>must</b> let moderators verify that your level follows JumpKingPlus' guidelines.</li>
        <li>The workshop encourages creators to make their maps <b>beatable</b> with boots/snake ring and/or no fall in mind. If the map doesn't follow such, it should be stated directly.</li>
        <li>Make sure you <u>own the rights to use the songs</u> on your custom level. Read more about music usage in the <a href="{{ site.baseurl }}/workshop/docs/modding/audio/#music-warning">music documentation section</a>.</li>
    </ol>
</div>